include scripts/check.sh
recursive-include examples *.py *.ini
recursive-include fishhighz/data *
recursive-include tests/data *.ini
recursive-include docs *.md *.rst *.py *.json Makefile
prune docs/_build
include .readthedocs.yaml
